@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "~/node_modules/bootstrap/dist/css/bootstrap.css";

html {
  font-size: 15px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  transition: 256ms;
}
a:hover,
a:active,
a:focus {
  color: #ee6f7c !important;
  transition: 256ms;
}
